[toolchain]

[features]
resolution = true
skip-lint = false

[programs.devnet]
hodlwarz_combat = "7aeBk4C2MhuivHdBiNS44feYjwiPsg6Aiq9SEUP99TDi"

[registry]
url = "https://api.apr.dev"

[provider]
cluster = "Devnet"
wallet = "~/.config/solana/id.json"

[scripts]
test = "yarn run ts-mocha -p ./tsconfig.json -t 1000000 \"tests/**/*.ts\""
